<body id="top">
  <%= render "home/nav" %>
  <div class="contents">
      <div class="container">
	      <h1 class="static-content company-introduction-page"><%= t('nav.bottom.intro') %></h1>
	      <div class="static-height"></div>
	      <div class="row text-center company-introduction">
	    
	          <div class="col-xs-5 text-right"> 名称：<br />
	            <br />
	            社名の由来：<br />
	            <br />
	            設立年月日：<br />
	            <br />
	            資本金：<br />
	            <br />
	            役員：<br />
	            <br />
	            本社所在地：<br />
	            <br />
	            事業内容：<br />
	            <br />
	          </div>
	          <div class="col-xs-7 text-left">株式会社SO-ZO　（sO-Zo Inc.）<br />
	            <br />
	            「人の想像を創造する」を理念とする会社。<br/>
	            <br />
	            2014年4月14日<br/>
	            <br />
	            5,000,000円<br/>
	            <br />
	            代表取締役　王冉<br/>
	            <br />
	            〒106-0032　東京都港区六本木4-11-4　六本木ビル303室<br/>
	            <br />
	            「痛部屋」に関する企画制作<br/>
	            インテリア商品、グッズなどの生産と販売<br/>
	            ライセンス事業<br/>
	            商品仲介販売業務<br/>
	          </div>

	        </div>
	        <!--row end--> 
	        <%= image_tag "bottom_bg.png" %>
	    </div><!-- container -->

	    <div style="height:76px"></div>
		<div class="clear">
		</div>

		<div class="container">
		 	<%= render "home/bottom" %>
			<!-- container -->
		</div><!-- container -->
  </div>  <!-- contents -->
</body>