<body id="top">
  <%= render "home/nav" %>
  <div class="contents">
      <div class="container">
	      <h1 class="static-content company-introduction-page"><%= t('nav.bottom.license') %></h1>
	      <div class="static-height"></div>
	      <div class="row text-center company-introduction">
	    
	      	 <table class="table table-bordered">
 				<tr>
 					<td class="col-xs-5 text-right"> 販売事業者：</td>
 					<td class="xol-xs-7 text-left">株式会社SO-ZO</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> 代表者: </td>
 					<td class="xol-xs-7 text-left">王冉（オウゼン）</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> 本社所在地：</td>
 					<td class="xol-xs-7 text-left">〒106-0032　東京都港区六本木4-11-4　六本木ビル303室</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> お問い合わせ先：</td>
 					<td class="xol-xs-7 text-left">お問い合わせのページ をご覧ください。</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> 電話番号：</td>
 					<td class="xol-xs-7 text-left">050-3598-7592</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> 販売価格: </td>
 					<td class="xol-xs-7 text-left">Visa, MasterCardの場合、決済金額の 3.25% 
JCB, American Express, Diners Clubの場合、決済金額の 3.40% + 10円</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> お支払い方法: </td>
 					<td class="xol-xs-7 text-left">売上げ金額からの差し引きによるお支払い</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> 商品の受け渡し時期：</td>
 					<td class="xol-xs-7 text-left">７日〜１０日</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> 商品の返品･交換：</td>
 					<td class="xol-xs-7 text-left">品質問題以外の返品は承っておりません</td>
 				</tr>
 				<tr>
 					<td class="col-xs-5 text-right"> 商品代金以外に必要な費用：</td>
 					<td class="col-xs-7 text-left">消費税、売上げ金入金時の振込手数料</td>
 				</tr>
			</table>
	        <%= image_tag "bottom_bg.png" %>
	      </div>
	        <!--row end--> 

    </div><!-- container -->

    <div style="height:76px"></div>
	<div class="clear">
	</div>

	<div class="container">
	 	<%= render "home/bottom" %>
		<!-- container -->
	</div><!-- container -->
  </div>  <!-- contents -->
</body>