<% @illustrations.each do |illustration| %>
      <div class="col-sm-4">
          <div class="graybox">
            <div class="overflow">
              <a href="#">
                <%= image_tag illustration.ill_image.url(:medium), :width => "342px" %>
              </a>
            </div>
            <p>
              <%= illustration.name %>
            </p>
          </div>
          <!-- graybox -->
        </div>
        <!-- col-sm-4 -->
  <% end %>