
<!-- <div id="hidden_form" style="display:none"> -->
<div id="hidden_form">
    <%= form_for :illustration, url: illustrations_path, remote: true,  html: {display: 'none', id: 'upload_form'} do |f| %>
      <div>
          <%= f.label :ill_image do %>Choose your work<% end %>
          <%= f.file_field :ill_image %>
      </div><br />

      <div>
          <%= f.submit "Upload", :id => "upload_pic" %>
      </div>

    <% end %>
</div>


<!-- <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
</div> -->

<!-- this way is not a friendly way, but I will try this before I go for other way -->