<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--nobanner-->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            D＆SIY
        </title>
        <meta name="keywords" content="illustrations" />
        <meta name="description" content="So-Zo powered by mointe" />
    </head>
    <body id="top">
        <div class="contents">
            <%= render "home/nav" %>
                <div style="height:76px">
                </div>
                <div class="container">
                    <%= render "ranking" %>
                        <div class="image-row">
                            <div class="image-set">
                                <div class="row" id="ill">
                                    <div class="image-row">
                                        <div class="image-set">
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example2.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example2.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example1.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example1.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-3.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-3.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example1.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example1.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-3.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-3.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example2.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example2.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example2.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example2.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example1.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example1.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-3.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-3.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example2.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example2.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example2.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example2.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/example1.gif" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/example1.gif" alt="" />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                            <div class="col-sm-2">
                                                <div class="graybox">
                                                    <div class="imgarea">
                                                        <a class="example-image-link" href="./assets/demopage/image-5.jpg" data-lightbox="example-set"
                                                        title="『新生 軟式globe』">
                                                            <img class="example-image" src="./assets/demopage/image-5.jpg" alt=""
                                                            />
                                                        </a>
                                                    </div>
                                                    <!-- imgarea -->
                                                    <p class="itemtitle">
                                                        『新生 軟式globe』
                                                    </p>
                                                </div>
                                                <!-- graybox -->
                                            </div>
                                            <!-- col2 -->
                                        </div>
                                        <!-- row ill -->
                                    </div>
                                    <!-- image set -->
                                </div>
                                <!-- image row -->
                            </div>
                            <!-- container -->
                            <div class="clear">
                            </div>
                            <div class="container">
                                <div id="grayfooter">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div style="margin:25px auto auto 70px;">
                                                <p id="categorytitle">
                                                    カテゴリから探す
                                                </p>
                                                <div class="categorylist">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                アート
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                あいうおえ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                プロダクト
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                ジャーナリズム
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                写真
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="categorylist">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                アート
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                あいうおえ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                プロダクト
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                ジャーナリズム
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                写真
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="categorylist">
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                アート
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                あいうおえ
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                プロダクト
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                ジャーナリズム
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                写真
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="clear">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- col5 -->
                                    </div>
                                    <!-- row -->
                                </div>
                                <!-- grayfooter -->
                                <div id="bottomfooter">
                                    <a href="#">
                                        取引～～～～～
                                    </a>
                                    <a href="#">
                                        ああああああ
                                    </a>
                                    <a href="#">
                                        いうえおうおえ
                                    </a>
                                    <a href="#">
                                        かきここかけ
                                    </a>
                                    <a href="#">
                                        プライバシーポリシー
                                    </a>
                                    <a href="#">
                                        お問合わせ
                                    </a>
                                    <div style="float:left;">
                                        D＆SIY
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                                <!-- bottomfooter -->
                            </div>
                            <!-- container -->
                        </div>
                        <!-- contents -->
                        <!--<script type="text/javascript">
                        $(function() {
                        var meny = Meny.create({
                        menuElement:  $('.meny')[0],
                        contentsElement:  $('.contents')[0]
                        //            menuElement: document.querySelector( '.meny' ),
                        //            contentsElement: document.querySelector( '.contents' )
                        });
                        });
                        </script>-->
    </body>

</html>