
                    <div id="grayfooter">
                        <div class="row">
                            <div class="col-lg-5">
                                <div style="margin:25px auto auto 70px;">
                                    <p id="categorytitle">
                                        カテゴリから探す
                                    </p>
                                    <div class="categorylist">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    アート
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    あいうおえ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    プロダクト
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    ジャーナリズム
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    写真
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="categorylist">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    アート
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    あいうおえ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    プロダクト
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    ジャーナリズム
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    写真
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="categorylist">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    アート
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    あいうおえ
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    プロダクト
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    ジャーナリズム
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    写真
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear">
                                    </div>
                                </div>
                            </div>
                            <!-- col5 -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- grayfooter -->
                    <div id="bottomfooter">
                        <a href="#">
                            取引～～～～～
                        </a>
                        <a href="#">
                            ああああああ
                        </a>
                        <a href="#">
                            いうえおうおえ
                        </a>
                        <a href="#">
                            かきここかけ
                        </a>
                        <a href="#">
                            プライバシーポリシー
                        </a>
                        <a href="#">
                            お問合わせ
                        </a>
                        <div style="float:left;">
                            D＆SIY
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <!-- bottomfooter -->
                </div>