<style type="text/css">
    #nav {
        background-image: url("/assets/buy_bg1.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top 20px right 400px;
    }
</style>

<div id="nav">
        <div class="container">
            <h1 id="logo">              <!-- flow -->
              <%= link_to(root_path) do %>

              <%= image_tag("logo2.png", alt: "So-Zo", width: "150px", style:"z-index:999") %>
              
              <% end %>
                <!--<a href="index.html"><img src="./assets/logo.jpg" alt="" /></a>-->
            </h1>
            <div class="clear"></div>
        </div>	<!-- container -->
    </div><!-- nav -->