<body id="top">
  <div class="contents">
    <%=r ender "home/nav2" %>
      <div style="height:76px">
      </div>
  </div>
  <div class="clear">
  </div>
  <div class="container">
    <%=r ender "home/bottom" %>
  </div>
</body>