<script type="text/javascript">
  $(document).ready(function() {
    $("#nav").css("background-image", 'url("/assets/buy_bg3.png")');
  });
</script>

<style type="text/css">
  .prompt-info {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 150px
  }

  .prompt-info div {
    text-align: center
  }

  .prompt-info div button {
    margin-left: 120px;
    height: 40px
  }

</style>

<body id="top">
  <div class="contents">
    <%= render "home/nav2" %>
      <div style="height:76px">
      </div>

      <div class="prompt-info" align="center"  >
        <%= image_tag "/assets/Check.png" %>&nbsp;<%= get_order_confirmed_message() %></span>
        <div> 
          <button type="button" class="btn btn-success btn-lg">立即付款</button>
          <button type="button" class="btn btn-warning btn-lg">查看订单</button>
        </div>
    </div>
  </div>
  <div class="clear">
  </div>
  <div class="container">
    <%= render "home/bottom" %>
  </div>
</body>