<script type="text/javascript">
  $(document).ready(function() {
    $("#nav").css("background-image", 'url("")');
  });
</script>

<style type="text/css">

  .pay-page {
    margin: 50px auto;
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
  }
  .title {
    padding-bottom: 12px;
    background: url(<%= asset_path 'midashi_line.gif' %>) no-repeat left bottom;
    font-weight: bold;
  }
  .pay-height {
    height: 32px;
  }

</style>

<body id="top">
  <div class="contents">
    <%= render "home/nav2" %>
      <div style="height:76px">
      </div>

      <div class="container">
          <%= render "pay_methods" %>
    </div>
  <div class="clear">
  </div>
  <div class="container">
    <%= render "home/bottom" %>
  </div>
    </div>
</body>