<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="custom-make-modal"
aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content custom-make-modal-content">
            <div class="modal-header custom-make-modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">
                        &times;
                    </span>
                    <span class="sr-only">
                        Close
                    </span>
                </button>
                <h4 class="custom-make-modal-section-header">
                    <b>
                        投稿せずに購入する
                    </b>
                </h4>
                <h4 class="custom-make-modal-section-header sub">
                    <small>
                        <b>
                            購入する商品を選択
                        </b>
                    </small>
                </h4>
            </div>
            <div class="modal-body custom-make-modal-body">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="custom-make-modal-grid-item">
                            <%= image_tag "upload_images.png", class: "img-responsive" %>
                            <p class="text-center">
                                壁纸
                            </p>
                            <p class="text-center price">
                                4500円
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="custom-make-modal-grid-item">
                            <%= image_tag "upload_images.png", class: "img-responsive" %>
                            <p class="text-center">
                                べッドシーツ
                            </p>
                            <p class="text-center price">
                                9600円
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="custom-make-modal-grid-item">
                            <%= image_tag "upload_images.png", class: "img-responsive" %>
                            <p class="text-center">
                                抱き枕
                            </p>
                            <p class="text-center price">
                                6800円
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="custom-make-modal-grid-item">
                            <%= image_tag "upload_images.png", class: "img-responsive" %>
                            <p class="text-center">
                                カーテン
                            </p>
                            <p class="text-center price">
                                7200円
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-3">
                    <H4 class="upload-img-page-header text-left"><b>作品の種類</b></H4>
                    <button class="upload-img-imgType upload-img-imgType-button" >
                    <img class="upload-img-imgType" src="images/upload-type-zuopin.png">
                    <span class="upload-img-type-span"><b>イラスト</b></span>
                    </button>
                    <button class="upload-img-imgType upload-img-left upload-img-imgType-button"  >
                    <img class="upload-img-imgType" src="images/upload-type-xiezhen.png">
                    <span class="upload-img-type-span"><b>写真</b></span>
                    </button>
                    <H4 class="upload-img-page-header text-left"><b>作品の名称</b></H4>
                    <form role="form">
                    <div class="form-group">
                    <input type="email" class="form-control upload-img-global-radius" id="product-name" placeholder="例 ) 向日葵と少女">
                    </div>
                    </form>
                    <H4 class="upload-img-page-header text-left"><b>作品の説明</b></H4>
                    <form role="form">
                    <div class="form-group">
                    <textarea class="form-control upload-img-global-radius" rows="5" placeholder="例 ) 夏と言えば麦わら白ワンピの少女に向日葵畑でしょってことで。とある田舎の一風景と少女のカット。" ></textarea>
                    </div>
                    </form>
                    </div> -->
                </div>
                <!-- row end -->
                <h4 class="custom-make-modal-section-header sub">
                    <small>
                        <b>
                            備考•希望欄
                        </b>
                    </small>
                </h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="custom-make-modal-request-content form-control"
                        rows="6" placeholder="個数や希望等お書きください。担当者よりご連絡させて頂きます。"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer custom-make-modal-foot">
                <button type="button" class="button button-flat-highlight custom-make-modal-request-btn">
                    <b>
                        内容を確定して送信
                    </b>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->