<!-- <div id="loading">
	<p id="loading_msg"></p>
	<img src="/assets/loading_bar.gif" alt=""/>
</div> -->

 <div id="pre" class="pre-cont">
    等待上作品
</div>

<div id="uploading" class="spinner">
    <div class="bounce1">
    </div>
    <div class="bounce2">
    </div>
    <div class="bounce3">
    </div>
    uploading......
</div>
<div id="making" class="spinner">
    <div class="bounce1">
    </div>
    <div class="bounce2">
    </div>
    <div class="bounce3">
    </div>
    making products......
</div>