<!-- <div id="loading">
	<p id="loading_msg"></p>
	<img src="/assets/loading_bar.gif" alt=""/>
</div> -->

 <div id="pre" class="pre-cont">
    <%= t('progress.waiting_uploading') %>
</div>

<div id="uploading" class="spinner">
    <div class="bounce1">
    </div>
    <div class="bounce2">
    </div>
    <div class="bounce3">
    </div>
    <%= t('progress.uploading') %>
</div>
<div id="making" class="spinner">
    <div class="bounce1">
    </div>
    <div class="bounce2">
    </div>
    <div class="bounce3">
    </div>
    <%= t('progress.making_products') %>
</div>