<div id="category" >
<button type="button" class="btn btn-md" id="hot_publishes" onclick='window.location="<%= hot_publishes_path %>";'>
 <span><%= t('nav.rank.like_rank') %></span> 
</button>
<button type="button" class="btn btn-md" id="top_products" onclick='window.location="<%= top_products_path %>";'> <span><%= t('nav.rank.sell_rank') %></span> </button>
</div>