<div id="category" >
<button type="button" class="btn btn-danger btn-md" style="width:90px;" onclick='window.location="<%= hot_publishes_path %>";'>
 <span>人气排行</span> 
</button>
<button type="button" class="btn btn-md" style="width:90px;" onclick='window.location="<%= top_products_path %>";'> <span>贩售数排行 </span> </button>
</div>