// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-panel {
	margin-top:10px;
	margin-left:20px;
	float:right
}

.user-info {
	width:"120px";
}

.user-toggle {
	margin-top:-8px;
}