@charset "utf-8";
/* CSS Document */

/* Property */
.clear{clear:both; margin:0; padding:0;}
body {
	background-color: white;
}
body, ul, li, ol,dl, dt, dd, h1, h2, h3, h4, img, p, em, strong{margin:0; padding:0; border:0; font-size:100%; line-height:normal; text-decoration:none; font-weight:normal; text-align:left; list-style:none;}
body{font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
a img{border:0;}
a img:hover{
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}
a, a:link, a:visited, a:active{color:#111;}

a:hover {
    color:#555;
    text-decoration:none;
}

.clear{clear:both;}

/*  ------------------------------  */

#wrapper{
	width:940px;
	margin:0 auto;
}

#nav{
	position:fixed;
	height:76px;
	width:100%;
	margin:0;
	border-bottom:5px solid #F97570;
	background:#fff;
	z-index:10000;
}

#nav > .container{
	height:56px;
	line-height:100%;
	height:100%;
	margin:10px auto;
}
#nav > .container h1{
	float:left;
}

#nav > .container div{
	float:left;
}

#nav .menu{
	width:100px;
	height:50px;
	float:left;
	text-align:center;
	padding-top:18px;
	font-size:16px;
	color:#F97570;
}

#nav .menu:hover{
	background:#F87470;
	color:#fff;
}

/* contents */

#mainvisual{margin-top:20px;}

#mainvisual img{
	width:100%;
}

.midashi{
	background:url(midashi_line.gif) no-repeat bottom;
	width:100%;
	height:45px;
	margin:35px auto;;
}

.midashi > p{
	padding-left:36px;
	background:url(midashi_li.jpg) no-repeat left;
	height:44px;
	width:100%;
	color:#7d7d7d;
	font-size:20px;
	line-height:44px;
	font-weight:bold;
}

#new .col-sm-3 .graybox{
	border:#eee 1px solid;
	width:95%;
	height:430px;
	margin:0 auto 20px auto;
	position:relative;	

}

#new .col-sm-3 .graybox .imgarea{
	position:relative;
	height:332px;
	width:100%;
	margin:0 auto;
	border:#fff 10px solid;
	overflow:hidden; !important
}



#new .col-sm-3 .graybox .ribbon{
	position:absolute;
	right:-5px;
	top:-6px;
	z-index:10;
}

#new .col-sm-3 .graybox .imgarea .price{
	width:74px;
	height:36px;
	background:#F8756F;
	font-size:18px;
	color:#fff;
	text-align:center;
	line-height:36px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:10;
}

#new .col-sm-3 .graybox .itemtitle{
	width:92%;
	font-size:12px;
	color:#666;
	margin:10px auto;
	font-weight:bold;
}

#new .col-sm-3 .graybox .itemdetail{
	width:92%;
	font-size:12px;
	color:#666;
	margin:10px auto;
}


#make .col-sm-4 .graybox{
	border:#eee 1px solid;
	width:95%;
	height:254px;
	margin:0 auto 20px auto;
}

#make .col-sm-4 .graybox .overflow{
	height:208px;
	width:100%;
	margin:0 auto;
	border:#fff 10px solid;
	overflow:hidden; !important
}

#make .col-sm-4 .graybox > p{
	color:707070;
	width:92%;
	margin:10px auto;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}


/* ill */

#category{
	margin:30px auto;
}


#ill .col-sm-2 .graybox{
	border:#eee 1px solid;
	width:100%;
	margin:0 auto 20px auto;

}

#ill .col-sm-2 .graybox .imgarea{
	width:100%;
	margin:0 auto;
	border:#fff 10px solid;
}

#ill .col-sm-2 .graybox .imgarea img{
	width:100%;
}

#ill .col-sm-2 .graybox .itemtitle{
	font-size:12px;
	color:#666;
	margin:2px 10px 10px 10px;
}

/* designer */
#designer .col-sm-3 .graybox{
	border:#eee 1px solid;
	width:95%;
	height:430px;
	margin:0 auto 20px auto;
	position:relative;	

}

#designer .col-sm-3 .graybox .imgarea{
	position:relative;
	height:332px;
	width:100%;
	margin:0 auto;
	border:#fff 10px solid;
	overflow:hidden; !important
}



#designer .col-sm-3 .graybox .ribbon{
	position:absolute;
	right:-5px;
	top:-6px;
	z-index:10;
}

#designer .col-sm-3 .graybox .imgarea .price{
	width:74px;
	height:36px;
	background:#F8756F;
	font-size:18px;
	color:#fff;
	text-align:center;
	line-height:36px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:10;
}

#designer .col-sm-3 .graybox .itemtitle{
	width:92%;
	font-size:12px;
	color:#666;
	margin:10px auto;
	font-weight:bold;
}

#designer .col-sm-3 .graybox .itemdetail{
	width:92%;
	font-size:12px;
	color:#666;
	margin:10px auto;
}


/* gathering */


#gathering .graybox{
	border:#eee 1px solid;
	width:100%;
	margin:0 auto 20px auto;
	position:relative;	
	padding-bottom:20px;
}

#gathering .graybox .imgarea{
	position:relative;
	margin:15px auto;
	float:left;
}


#gathering .graybox .ribbon{
	position:absolute;
	left:-5px;
	top:-6px;
	z-index:10;
}

#gathering .graybox .gather_info{
	margin-left:30px;
	float:left;
}

#gathering .graybox .gather_info .title{
	color:#F85C54;
	font-size:22px;
	margin:20px auto;
}

#gathering .graybox .gather_info .detail{
	width:600px;
}

.table{margin:10px;}

.table div{
	margin:auto 10px 5px auto;
	width:113px;
	height:39px;
	line-height:39px;
	text-align:center;
	float:left;
}

.table .general{
	background:#eee;
}
.table .colored{
	background:#8CC152;
	color:#fff;
}

.buynow{
	width:236px;
	margin:10px;
}
	

/* footer */

#footerbase{	
	height:101px;
	background:#F8756F;
}

#footerbase > p{	
	color:#fff;
	font-size:12px;
	line-height:180%;
	margin:10px auto auto 10px;
}

#footerbase > p > span{	
	font-size:18px;
	font-weight:bold;
}

#footerleft{
	background:url(footer.jpg) no-repeat;
	height:101px;
}

#company{
	height:345px;
}

#company #title{
	width:554px;
	height:35px;
	background:url(foot_border.gif) bottom no-repeat;
	color:#666;
	font-size:18px;
	line-height:35px;
}

#company #txt{
	font-size:12px;
	color:#666;
	line-height:180%;
	width:554px;
}

#grayfooter{
	background:#F8F8F8;
	height:219px;
}

#company > .row > .col-lg-4{
	margin:110px auto auto 100px;
}
#company > .row > .col-lg-6{
	margin-top:70px;
}

#categorytitle{
	font-size:14px;
	color:#666;
}

.categorylist{
	float:left;		
	width:120px;
	font-size:12px;
}

.categorylist a{
	color:#666;
}

.categorylist li{
	margin-top:10px;
}

#snslist{
	margin-left:200px;
}

#sns{
	margin-top:100px;
}

#sns div{float:left;}

#bottomfooter{
	background:#C9C9C9;
	height:69px;	
	padding-left:100px;
}

#bottomfooter > a,#bottomfooter > div{
	display:block;
	float:left;
	margin:auto 10px;
	line-height:69px;
	color:#fff;
}

#bottomfooter > div{
	float:left;
	margin-left:100px;
	line-height:69px;
	color:#fff;
}
