<p>歓迎: <%= @email %>!</p>
<p>SO-ZOの サポートデスクです。</p>
<p>メール認証を完了するために、下記のリンクからSO-ZOにログインしてください。</p>
<br/>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
<br/>
<p>メール認証は、上記のリンクにてログインするまで完了しません。 </p>
<p>このメールに心当たりがない方は、お手数をおかけしますがこのメールは破棄してください。</p>
<br/>
<p>お問い合わせ：</p>
<p><b>info@so-zo.co</b></p>
<br/>
<p>＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊</p>
<p><b>株式会社SO-ZO</b></p>
<p><b>〒106-0032</b></p>
<p><b>東京都港区六本木4-11-4</b></p>
<p><b>六本木ビル303室</b></p>
<p><b>Mobile:+81-(0)80-9175-1028</b></p>
<p>＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊</p>
