<p>亲爱なる: <%= @resource.email %></p>
<p>以下のリンクをクリックしてください。パスワードを設置の新しい</p>
<p>ヒント:もしあなたがクリック無効を贴り付けてください以下のリンクをコピーしたブラウザのアドレス・バー中だ。</p>
<br/>
<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>
<br/>
<p>この手紙をSO-ZOシステムが自動で送り、タブ回メールをお送りします。</p>
<br/>
<p>お問い合わせ：</p>
<p><b>info@so-zo.co</b></p>
<br/>
<p>＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊</p>
<p><b>株式会社SO-ZO</b></p>
<p><b>〒106-0032</b></p>
<p><b>東京都港区六本木4-11-4</b></p>
<p><b>六本木ビル303室</b></p>
<p><b>Mobile:+81-(0)80-9175-1028</b></p>
<p>＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊</p>
