 <div id="category">
    <button type="button" class="btn btn-danger btn-md" style="width:80px;">
      <span>All</span>
    </button>
    <!-- <button type="button" class="btn btn-md" style="width:80px;">
      <span>Popularity</span>
    </button>
    <button type="button" class="btn btn-md" style="width:80px;">
      <span>Rating</span>
    </button>
    <button type="button" class="btn btn-md" style="width:80px;">
      <span>Price</span>
    </button> -->
</div>	<!-- category -->