 <div class="buy-right">
              <div id="sidernav" style="width:auto; float:none;">
                <h1 id="title">
                  ジャンル
                </h1>
                <ul class="sider">
                  <li>
                    <a href="###">
                      ファッション
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      家電・パソコン・通信
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      インテリア・日用雑貨
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      インテリア・日用雑貨
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      スポーツ・アウトドア
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      美容・健康
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      キッズ・ベビー・玩具
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      ペット・花・DIY
                    </a>
                  </li>
                  <li>
                    <a href="###">
                      Kobo・電子ブック
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div style="clear:both">
            </div>
            <div style="height:200px">
            </div>
          </div>