
  <div id="alert-warning" class="alert alert-warning alert-dismissable text-right" style="display: none">
      <button type="button" class="close" aria-hidden="true" onclick="$('#alert-warning').hide();">&times;</button>
      <span></span>
  </div>

  <div id="alert-info" class="alert alert-info alert-dismissable text-right" style="display: none">
      <button type="button" class="close" aria-hidden="true" onclick="$('#alert-info').hide();">&times;</button>
      <span></span>
  </div>

  <div id="alert-danger" class="alert alert-danger alert-dismissable text-right" style="display: none">
      <button type="button" class="close" aria-hidden="true" onclick="$('#alert-danger').hide();">&times;</button>
      <span></span>
  </div>

  <div id="alert-success" class="alert alert-success alert-dismissable text-right" style="display: none">
      <button type="button" class="close" aria-hidden="true" onclick="$('#alert-success').hide();">&times;</button>
      <span></span>
  </div>
